html {
    margin-right: -650px;
    width:100%;
}
body {
    margin: -50px auto;
    font-family: "Nunito Sans", sans-serif;
}
body > header.navmain {
    background-color: #2f2f2f;
    color: #ffffff;
    min-width:1750px;
    max-height: 157px;
    padding: 75px 0 0 30px;
    margin-bottom: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
h1,
h2 {
    font-family: "Signika", sans-serif;
    font-size: 72px;
    margin-top: 0;
}
h4 {
    text-align:justify;
    font-size: 36px;
    font-weight: bolder;
    width: 1364px;
}
h6{
    padding:0;
    margin:25px 0 0 0;
    font-size:36px;
    text-align: center;
    font-family: "Signika", sans-serif;
}
img {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
/* ++++++ MAIN-HEADER ++++++ */
header > h1 {
    font-size: 72px;
    position: relative;
    width: 500px;
    z-index: 1;
}

header > div.sphere {
    background-color: #2f2f2f;
    padding: 100px;
    border-radius: 100%;
    position: absolute;
    top: 60px;
}
.currentLink {
    color: #ff6738;
}
.hidden {
    visibility: hidden;
}
header > nav > ul > li {
    border: 1px solid #2f2f2f;
    list-style-type: none;
    display: inline-block;
    font-size: 30px;
    margin: 10px;
    position: relative;
    bottom: 120px;
    left: 480px;
    padding: 20px;
}
header > nav > ul > li > span.dropbtn,
.navmain a {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #2f2f2f;
    border-radius: 25px;
    padding: 25px;
}
.navmain > nav > ul > li > .dropdown,
.navmain a:hover{
    border: 1px solid white;
    color: #ff6738;
    border-radius: 25px;
    transition: 0.1s linear;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
header > nav > ul > li > .navmain a:active {
    color: #ff6738;
}
/* ++++++ MENU DROPDOWN ++++++ */
.dropbtn{
    position:relative;
    top:18px;
    font-size: 30px;
}
.dropdown {
    padding: 5px;
    border-radius:25px;
    position:relative;
    bottom:230px;
    left:765px;
    width:255px;
    height:80px;
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin: 0 0 3px 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.dropdown > .dropdown-content {
    display: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: black;
    transition: 0.3s linear;
    text-align: center;
    font-size:22px;
    padding: 25px 26px;
    text-decoration: none;
    display: block;
    border-radius: 0;
}
.dropdown-content a:hover {
    border-radius: 0;
    color: white;
    background-color: #3f3f3f;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 80px;
    background-color: #fff4f4;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
/* ++++++ SECTION GENERALE ++++++ */
.intro > img,
footer > img {
    border-radius: 40px;
}
.box-image > img {
    width:770px;
    height:441px; 
}
main p {
    font-size: 36px;
    max-width: 500px;
}
main > article {
    padding: 50px 0;
    padding-left:160px;
}
main > article:nth-child(even) {
    background-color: #fff4f4;
}
.f1 > img {
    border-radius:50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.f1 > h1 {
    position:relative;
    left:400px;
}
.f1 {
    position:relative;
    left:150px;
}
/* ++++++ CONTACT & FORM ++++++ */
.contact > header > h2 {
    font-family: "Signika", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    line-height: 162.4%;
    margin: 20px 0;
    position: relative;
    left: 15px;
}
.contact {
    position: relative;
    top: 50px;
    left: 150px;
}
.contact .orangebar {
    width: 569px;
}
fieldset {
    border: none;
    padding: 12px;
}
.contact > fieldset > input,
textarea {
    max-width: 975px;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
    border: 1px solid #cccccc;
    resize: none;
}
.contact > fieldset > input:focus,
textarea:focus {
    border: 1px solid transparent;
}
.contact > fieldset > input::placeholder,
textarea::placeholder {
    font-family: "Nunito Sans", sans-serif;
    color: #b7b7b7;
    text-transform: uppercase;
}
#nom {
    min-width: 360px;
    text-transform: capitalize;
}
#prenom {
    margin-left: 20px;
    min-width: 560px;
    text-transform: capitalize;
}
#courriel,
#telephone {
    min-width: 656px;
}
#comment {
    min-width: 975px;
    font-family: "Nunito Sans", sans-serif;
}
.contact > input.valid {
    position: relative;
    left: 700px;
    margin: 15px 0 100px;
    border: none;
    font-weight: bold;
    font-size: 24px;
    border-radius: 5px;
    background-color: #ff6738;
    color: #ffffff;
    width: 310px;
    height: 86px;
}
.contact > input {
    border-radius: 25px;
}
.contact > input.valid:hover {
    border: 1.5px solid black;
    cursor: pointer;
}
.radio-toolbar > h4 {
    font-size: 30px;
    font-weight: 800;
}
.radio-toolbar {
    margin: 100px 0 0 165px;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    color: white;
    font-weight: 900;
    background-color: #ffa938;
    padding: 20px 20px;
    font-size: 24px;
    margin-right: 60px;
    border: 4px solid transparent;
}

.radio-toolbar label:hover {
    cursor: pointer;
    border: 4px solid #5b7488;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #e48b17;
    border: 4px solid #5b7488;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* ++++++ FLOATS ICI ++++++ */
.floatright {
    float: right;
}
/* ++++++ FOOTER ++++++ */
footer {
    min-width:1050px;
    clear: both;
    color: white;
    background-color: #2f2f2f;
    padding-right:50px;
    padding-bottom: 10px;
    margin-top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
footer > .floatright > h2 {
    margin: 50px 50px 20px 0;
}
footer > .floatright > a > img {
    padding-right: 13px;
    padding-left: 0px;
    box-shadow: none;
}
#infolettre {
    padding: 50px 0 50px 50px;
    max-width: 520px;
}
#infocourriel {
    padding: 10px;
    width: 370px;
    font-size: 24px;
}
.validinfo {
    position: relative;
    left: 125px;
    background-color: #ffa938;
    border-radius: 25px;
    color: white;
    font-size: 36px;
    padding: 8px;
}
.validinfo:hover {
    color: #ff6738;
    border-color: black;
    cursor: pointer;
}
/* ++++++ NOS REALISATION / NOS SERVICES / FLEXBOX ++++++ */
.box-text,
.box-image {
    padding: 0 10px 10px 75px;
}
.fondateur {
    padding-top: 50px;
}
main > article > section > div.box-image > img {
    border-radius: 55px;
}
/* ++++++ FLEX ++++++ */
.flexbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* ++++++ BOX 1 ++++++ */
.box-text > a {
    position: relative;
    border: none;
    border-radius: 15px;
    padding: 18px;
    background-color: #2f2f2f;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.box-text > a.button {
    text-decoration: none;
    color: #ff6738;
    font-size: 24px;
    font-weight: bold;
}
.box-text > a:hover {
    color: white;
}
/* ++++++ HEBERGEMENT / CARTE FLEXBOX ++++++ */

/* ++++++ FLEX ++++++ */
.pricing-table {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
}
.pricing-wrapper {
    padding-left: 100px;
}
.plus-populaire {
    background-color: #ff6738;
    border: 1.5px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-size: 26px;
    border-radius: 5px;
    color: #fff;
    width: 170px;
    left: 605px;
    top: 50px;
    padding: 20px;
    position: relative;
}
.price-icon {
    padding: 25px;
    width: 1px;
    border-radius: 100px;
    background-color: #c4c4c4;
    position: relative;
    top: 90px;
    left: 160px;
}
.pricing-card {
    flex: 1;
    padding: 20px;
    max-width: 360px;
    background-color: rgba(196, 196, 196, 0.5);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin: 0 30px;
    text-align: center;
    overflow: hidden;
}

.pricing-card-header {
    display: inline-block;
    color: #000;
    margin-top: 120px;
    padding: 0 30px;
    font-size: 48px;
    font-weight: 600;
}
.pricing-card > p {
    font-size: 26px;
    line-height: 39px;
    text-align: justify;
    margin-top: 0px;
}

.panier-btn {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #ff6738;
    color: #fff;
    padding: 18px 40px;
    font-size: 28px;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.3s linear;
    border: 1px solid transparent;
}
.price {
    font-size: 38px;
    font-weight: bolder;
}
.panier-btn:hover {
    color: #ff6738;
    background-color: transparent;
    border: 1px solid #ff6738;
}
/* ++++++ ACCUEIL / SLIDESHOW VIE DE BUREAU ++++++ */
.wrapper-slideshow {
    padding: 25px 100px 100px 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    width: 1500px;
    margin: 50px 50px 50px 100px;
    text-align: center;
}
.slidershow {
    width: 700px;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    font-size: 10px;
    border: 2px solid #000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.middle {
    position: relative;
    top: 50%;
    height: 500px;
    width: 900px;
    margin: 0 auto;
}
/* ++++++ FLEX ++++++ */
.navigation {
    position: relative;
    bottom: 50px;
    left: 82%;
    transform: translateX(-50%);
    display: flex;
}

.slideshow-text {
    font-size: 16px;
    max-width: 50%;
    position: relative;
    bottom: 20%;
    transform: translateY(-200%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1rem 2rem;
}
.slideshow-title {
    font-size: 26px;
    max-width: 50%;
    position: relative;
    bottom: 76%;
    transform: translateY(-200%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1rem 2rem;
}
.bar {
    width: 50px;
    height: 10px;
    border: 2px solid #ff6738;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: #fff;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -20%;
}

#r3:checked ~ .s1 {
    margin-left: -40%;
}

#r4:checked ~ .s1 {
    margin-left: -60%;
}

#r5:checked ~ .s1 {
    margin-left: -80%;
}
/* ++++++ ACCUEIL CAROUSEL / NOUVELLES ++++++ */
.nouvelles{
    margin-left:620px;
}
.slider-carousel {
    margin-left:250px;
    max-width: 1150px;
    display: flex;
}

.slider-carousel .card {
    background-color: #FFD59E;
    flex: 1;
    margin: 0 10px;
}

.slider-carousel .card .img{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider-carousel .card .content {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
}

.card .content .title {
    font-size: 25px;
    font-weight: 600;
    
}

.card .content .sub-title {
    font-size: 20px;
    font-weight: 600;
    color: #f2f2f2;
    line-height: 20px;
}

.card .content p {
    text-align: justify;
    margin: 10px 0;
}

.card .content .btn_nouvelle {
    display: block;
    text-align: left;
    margin: 10px 0;
}

.card .content .btn_nouvelle button {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #ff6738;
    color: #fff;
    padding: 18px 40px;
    font-size: 28px;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.3s linear;
    border: 1px solid transparent;
}

.card .content .btn_nouvelle button:hover {
    cursor:pointer;
    color: #ff6738;
    background-color: transparent;
    border: 1px solid #ff6738;
}
/* ++++++ RERPONSIVENESS ++++++ */
    @media screen and (max-width: 1600px) {
        .pricing-card {
            flex: 50%;
        }
        .box-text {
            margin-bottom: 35px;
        }
        .fondateur {
            padding-left: 0px;
        }
        .fondateur > img {
            padding-left: 250px;
        }
        .flexbox-container {
            flex-direction: column;
            margin: 0;
        }
        .wrapper-slideshow {
            margin-left: 100px;
        }
    }
